body {
  background: #bcc6ca;
}

.cell {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  background: pink;
}

.active {
  background: blue;
}

table {
  border: 3px solid black;
}
